<% if @product.images[5].present? %>
  <% next_images = @product.images[5..-1] %>
  <% next_images.each_with_index do |image, i| %>
    <div class="preview-file" data-preview="<%= i + 5 %>">
      <%= image_tag image.url.url, class: "preview-image", data: { preview_image: i + 5 } %>
      <div class="edit-btn">編集</div>
    </div>
  <% end %>
<% end %>