.navbar {
  padding: 10px 260px 0;
  box-shadow: 0 0 10px 0 gray;
  .header-container {
    #logo {
      font-size: x-large;
      font-weight: bolder;
      text-decoration: none;
      color: black;
    }
    .header-form {
      position: relative;
      display: inline-block;
      .search-form {
        width: 649px;
        height: 40px;
        margin-left: 100px;
        background-color: $cream;
        padding-left: 10px;
        border: 1px solid;
        border-radius: 5px;
        }
      .search-form:focus {
        @include input-border
      }
      .btn {
        height: 36px;
        width: 40px;
        background-color: $cream;
        position: absolute;
        top: 2px;
        right: 2px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      .btn:focus {
        outline: none;
      }
    }
    nav { 
      font-size: 14px;
      padding: 15px 0;
      display: flex;
      justify-content: space-between;
      .navbar-left {
        li {
          font-weight: bold;
          display: inline-block; 
          margin-right: 15px;
          cursor: pointer;  
          span { 
            margin-left: 5px;
            &:hover {
              color: $light-blue;
            }
          }          
          i { 
            color: red;
          }             
        }
      }
      .navbar-right {
        li {
          display: inline-block;
          margin-left: 15px;
          cursor: pointer;          
          span { 
            margin-left: 5px;
          }
          i { 
            font-size: large;
            color: #9e9d9d;
          }
          &:hover {
            color: $light-blue;
          }
          &:hover i {
            color: $light-blue;
          }
        } 
      }
    }
  }
}