.row {
  h1 {
    background-color: $cream;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    padding: 30px;
    .product-logo {
      text-decoration: none;
      color: black;
    }
  }
  .product-wrapper {
    background-color: $cream;
    .product-form {
      width: 700px;
      margin: 0 auto;
      background-color: white;
      padding: 40px;
      border-bottom: 1px solid $cream;
      .form-label, .name-form{
        .field_with_errors {
          display: inline;
          input {
            border: 1px solid red;
          }
        }
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 15px;
        span {
          background-color: red;
          color: white;
          font-size: small;
          font-weight: bold;
          padding: 2px 4px;
          border-radius: 2px;
        }
      }
      p {
        margin-bottom: 15px;
        font-size: 14px;
        color: #333333;
      }
      .error-messages {
        margin-top: 10px;
        .error-message {
          margin-bottom: 0;
          color: red;
        }
      }
      #price {
        text-align: right;
      }
      .price-caution {
        font-weight: bold;
        color: gray;
      }
      .file-box, .new-file-box{
        display: flex;
        overflow: hidden;
        .preview-files, .new-preview-files {
          display: flex;
          .preview-file {
            margin-right: 10px;
            background-color: #f5eeee;
            &:first-child {
              margin-left: 2px;
            }
            .preview-image {
              width: 115px;
              height: 120px;
              padding: 0 15px;
              border-bottom: 1px solid #c7c5c5;
            }
            .remove-btn {
              color: $light-blue;
              font-size: small;
              text-align: center;
              cursor: pointer;
            }
          }
        }
        .file-form {
          display: none;
        }
        #file-label {
          height: 150px;
          width: 100%;
          background-color: $cream;         
          border: 1px dashed gray;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          p {
            font-size: 12px;
            margin-bottom: 0;
            .fa {
              font-size: x-large;
            }
            #file-message {
              display: inline-block;
              margin-top: 5px;
            }
          } 
        }
        #file-label:hover {
          @include input-border_bold;
        }
      }
      .new-file-box {
        margin-top: 10px;
      }
      .name-form {
        input {
          width: 100%;
          height: 48px;
          background-color: $cream;
          padding: 0 10px;
          border: 1px solid gray;
          border-radius: 5px;
        }
        input:focus  {
          @include input-border;
        }
      }
      .price-label { 
        i {
          color: #333333;
          font-size: small;
          position: relative;
          left: 220px;
        }
        .price-form {
          width: 285px;
          height: 48px;
          background-color: $cream;
          font-size: larger;
          font-weight: lighter;
          text-align: right;
          border-radius: 5px;
          position: relative;
          left: 222px;
          padding: 0 10px;
          border: 1px solid gray;
          &::placeholder {
            text-align: right;
          }
          &:focus {
            @include input-border;
          }
        } 
      }
      .price-fee {
        font-size: 14px;
        color: #333333;
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $cream; 
      }
      .price-profit {
        font-size: 14px;
        color: #333333;
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
      } 
      .product-caution {
        font-size: 11.5px;
        margin-bottom: 30px;
        a {
          font-size: 12.5px;
          @include link-color;
          &:hover {
            @include link-hover;
            text-decoration: underline;
          }
        }
      }
    }
    .product-form_noline, .product-form_bottom {
      border-bottom: unset;
      padding-bottom: 0;
    }
    .product-form_bottom {
      text-align: center;
      .btn {
        width: 360px;
        height: 48px;
        font-size: 17px;
        font-weight: bold;
        display: block;
        background-color: red;
        color: white;
        margin: 0 auto 25px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        &:focus {
          @include input-border_bold;
        }
        &:hover {
          background-color: #cf0404;
          transition: 0.6s;
        }
      }
      .btn-draft {
        background-color: #cfcccc;
        color: black;
        &:hover {
          background-color: #bbb8b8;
          transition: 0.6s;
        }
      }
      .return-btn {
        width: 42px;
        font-size: 14px;
        @include link-color;
        &:hover {
          @include link-hover
        }
      }
    }    
  }
}
