.row {
  h1 {
    background-color: $cream;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    padding: 30px;
    .product-logo {
      text-decoration: none;
      color: black;
    }
  }
  .product-wrapper {
    background-color: $cream;
    .product-form {
      width: 700px;
      margin: 0 auto;
      background-color: white;
      padding: 40px;
      border-bottom: 1px solid $cream;
      .form-label {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 15px;
        span {
          background-color: red;
          color: white;
          font-size: small;
          font-weight: bold;
          padding: 2px 4px;
          border-radius: 2px;
        }
      }
      p {
        margin-bottom: 15px;
        font-size: 14px;
        color: #333333;
      }
      .price-caution {
        font-weight: bold;
        color: gray;
      }
      #file-label {
        height: 150px;
        width: 100%;
        background-color: $cream;
        display: inline-block;
        border: 1px dashed gray;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        .file-form {
          display: none;
        }
        p {
          font-size: 12px;
          .fa {
            font-size: x-large;
            margin-bottom: 10px; 
          }
        } 
      }
      #file-label:hover {
        border: 1px solid $light-blue;
      }
      .name-form {
        input {
          width: 100%;
          height: 48px;
          background-color: $cream;
          padding: 0 10px;
          border: 1px solid gray;
          border-radius: 5px;
        }
        input:focus  {
          @include input-border
        }
      }
      .price-label { 
        i {
          color: #333333;
          font-size: small;
          position: relative;
          left: 235px;
        }
        .price-form {
          width: 285px;
          height: 48px;
          background-color: $cream;
          font-size: larger;
          font-weight: lighter;
          text-align: right;
          border-radius: 5px;
          position: relative;
          left: 235px;
          padding: 0 10px;
          border: 1px solid gray;
          &::placeholder {
            text-align: right;
          }
          &:focus {
            @include input-border
          }
        }
        
        
      }
      
    }
  }
}
