.row {
  .products {
    background-color: $cream;
    padding: 20px 270px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    .product {
      width: 180px;
      padding: 10px;
      li {
        background-color: white;
      }
      .product-images {
        position: relative;
      }
      .product-price {
        position: absolute;
        bottom: 15px;
        left: 0;
      }
      .product-name {
        height: 50px;
        padding: 0 5px 5px;
      }
    }
  }
  .exhibition {
    display: block;
    width: 150px;
    height: 150px;
    text-decoration: none;
    background-color: red;
    text-align: center;
    color: white;
    border-radius: 50%;
    position: fixed;
    bottom: 6%;
    right: 3%;
    z-index: 1;
    .exhibition-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      -webkit-transform: translateY(-50%) translateX(-50%); 
      p {
        font-size: x-large;
      }
      i {
        font-size: 48px;
      }
    }
  }
}
