<ul class="product">
  <li class="product-images">
    <% product.images.each do |image| %>
      <%= image_tag image.url.url %>
    <% end%>
    <span class="product-price">
    <%= convert_to_yen(product.price) %>
    </span>
  </li>
  <li class="product-name">
    <span><%= product.name %></span>
  </li> 
</ul>