<div class="row">
  <div class="products">
   <%= render partial: "product", collection: @products %>
  </div>
  
    <%= link_to new_product_path, class: "exhibition" do %>
      <div class="exhibition-btn">
        <p>出品</p>
        <i class="fa fa-camera"></i>
      </div>
    <% end %>
  
</div>