<% provide(:title, "出品") %>
<div class="row">
  <h1>
    <%= link_to "Product App", root_path, class: "product-logo" %>
  </h1>
  <div class="product-wrapper">   
    <%= render "products/form" %>
  </div>
</div>

