<footer class="footer navbar">
  <nav class="footer-nav">
    <div class="nav-menu">
      <h2>Product Appについて</h2>
      <ul class="menu-lists">
        <li class="menu-list">
          <a class="under-line" href="https://github.com/higasimaru/" target="_blank">GitHub</a>
        </li>
        <li class="menu-list">
          <a class="under-line" href="https://higasimaru.github.io/" target="_blank">関連サイト</a>
        </li>
      </ul>
    </div>
    <div class="nav-menu">
      <h2>ヘルプ＆ガイド</h2>
      <ul class="menu-lists">
        <li class="menu-list">
          <a class="under-line" href="https://github.com/higasimaru/product_app"
            target="_blank">Product Appガイド
          </a>
        </li>
        <li class="menu-list">
          <a class="under-line" href="https://github.com/higasimaru/product_app"
            target="_blank">出品について
          </a>
        </li>
      </ul>
    </div>
    <div class="nav-menu">
      <h2>プライバシーと利用規約</h2>
      <ul class="menu-lists">
        <li class="menu-list">
          <a class="under-line" href="#">プライバシーポリシー</a>
        </li>
        <li class="menu-list">
          <a class="under-line" href="https://github.com/higasimaru/product_app"
            target="_blank">Product App利用規約
          </a>
        </li>
      </ul>
    </div>
    <div class="nav-menu sns-icon">
      <h2>SNS</h2>
      <ul class="menu-lists">
        <li class="menu-list">
          <a href="https://twitter.com/home" target="_blank">
            <i class="fab fa-twitter-square"></i>
          </a>
        </li>
        <li class="menu-list">
          <a href="https://line.me/ja/"><i class="fab fa-line"></i></a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="footer-logo">
    <%= link_to "Product App", root_path, id: "logo" %>
    <span>©️ Product App, Inc.</span>
  </div>
</footer>